.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-bars:before {
  content: '\f0c9';
}

.fa-times:before {
  content: '\f00d';
}

.fa-times-circle:before {
  content: '\f057';
}

.fa-facebook-f:before {
  content: '\f39e';
}

.fa-google-plus-g:before {
  content: '\f0d5';
}

.fa-pinterest:before {
  content: '\f0d2';
}

.fa-pinterest-p:before {
  content: '\f231';
}

.fa-pinterest-square:before {
  content: '\f0d3';
}

.fa-instagram:before {
  content: '\f16d';
}

.fa-instagram-square:before {
  content: '\f955';
}

.fa-stumbleupon:before {
  content: '\f1a4';
}

.fa-stumbleupon-circle:before {
  content: '\f1a3';
}

.fa-wifi:before {
  content: '\f1eb';
}

.fa-lightbulb:before {
  content: '\f0eb';
}

.fa-keyboard:before {
  content: '\f11c';
}

.fa-bolt:before {
  content: '\f0e7';
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa-lightbulb {
  font-size: 32px;
  color: #ff8b38;
}

.fa-keyboard {
  font-size: 32px;
  color: #ff8b38;
}

.fa-bolt {
  font-size: 32px;
  color: #ff8b38;
}

.social {
  font-size: 24px;
  color: #cccccc;
}

.bar-social {
  font-size: 48px;
  color: #cccccc;
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  cursor: pointer;
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../fonts/fa-brands-400.eot');
  src: url('../fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa-brands-400.woff2') format('woff2'),
    url('../fonts/fa-brands-400.woff') format('woff'),
    url('../fonts/fa-brands-400.ttf') format('truetype'),
    url('../fonts/fa-brands-400.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../fonts/fa-regular-400.eot');
  src: url('../fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa-regular-400.woff2') format('woff2'),
    url('../fonts/fa-regular-400.woff') format('woff'),
    url('../fonts/fa-regular-400.ttf') format('truetype'),
    url('../fonts/fa-regular-400.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('../fonts/fa-solid-900.eot');
  src: url('../fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fa-solid-900.woff2') format('woff2'),
    url('../fonts/fa-solid-900.woff') format('woff'),
    url('../fonts/fa-solid-900.ttf') format('truetype'),
    url('../fonts/fa-solid-900.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Merriweather-Bold.woff2'), url('../fonts/Merriweather-Bold.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.woff2'), url('../fonts/OpenSans-Regular.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/OpenSans-SemiBold.woff2'), url('../fonts/OpenSans-SemiBold.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.woff2'), url('../fonts/OpenSans-Bold.woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Raleway-Regular.woff2'), url('../fonts/Raleway-Regular.woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Raleway-SemiBold.woff2'), url('../fonts/Raleway-SemiBold.woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Raleway-Bold.woff2'), url('../fonts/Raleway-Bold.woff');
}
