@media (min-width: 768px) and (max-width: 1280px) {
    .navbar-container {
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    .bar-container-blocks {
        display: block;
    }
    .bar-block {
        max-width: 100%;
        text-align: center;
    }
    .bar-social-block {
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
    }
    .bar-social {
        padding-right: 5%;
        font-size: 32px;
    }
    .content {
        font-size: 18px;
        line-height: 1.5;
    }
    .content-texts {
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .navbar-item {
        padding-right: 40px;
    }
    .main-content {
        float: none;
        width: 100%;
        text-align: center;
    }
    .main-title::after {
        margin-left: 50%;
        transform: translate(-50%);
    }
    .main-text {
        max-width: none;
    }
    .panel-form {
        float: none;
        width: 360px;
        margin: auto;
    }
    .signap-content {
        max-width: 100%;
    }
    .bar-container-blocks {
        display: block;
    }
    .bar-block {
        max-width: 100%;
        text-align: center;
    }
    .bar-social-block {
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
    }
    .bar-social {
        padding-right: 5%;
        font-size: 32px;
    }
    .feature-container {
        padding-top: 80px;
    }
    .feature-main-block {
        overflow: none;
    }
    .feature-main-block .feature-image-block {
        float: none;
        width: auto;
    }
    .feature-image {
        display: none;
    }
    .feature-main-block .feature-main {
        float: none;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .feature-title {
        margin-bottom: 20px;
    }
    .awesome-block {
        padding-top: 40px;
    }
    .awesome-block-items {
        padding-left: 0;
    }
    .pricing-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;
        padding-left: 0;
    }
    .pricing-main {
        width: 70%;
        padding-bottom: 50px;
        margin: auto;
    }
    .pricing-main:last-child {
        padding-bottom: 0;
    }
    .block-item {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    .block-item:last-child {
        margin-bottom: 0;
    }
    .block-items_comment {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 70px;
    }
    .block-items_comment:last-child {
        margin-bottom: 0;
    }
    .form-block {
        display: block;
    }
    .input-block {
        width: 100%;
        margin-right: 0;
    }
    .area-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .area {
        padding-left: 10px;
    }
    .catalog {
        display: block;
        padding: 2rem 3rem 2rem;
    }
    .catalog-list {
        margin-top: 30px;
    }
    .catalog-btn {
        top: 2rem;
    }
    .wrapper-hamburger {
        display: block;
        cursor: pointer;
    }
    .wrapper-hamburger i {
        font-size: 30px;
        transition: all 0.5s ease;
        color: #fff;
    }
    .navbar-items {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-items {
        display: block;
    }
    .navbar-items {
        display: none;
    }
    .main-content {
        float: none;
        width: 100%;
        text-align: center;
    }
    .main-title::after {
        margin-left: 50%;
        transform: translate(-50%);
    }
    .main-text {
        max-width: none;
    }
    .panel-form {
        float: none;
        width: 260px;
        margin: auto;
    }
    .signap-content {
        max-width: 700px;
    }
    .signap-input-block {
        padding: 20px 15px 30px 15px;
    }
    .signap-title {
        font-size: 14px;
    }
    .bar-container-blocks {
        display: block;
    }
    .bar-block {
        max-width: 100%;
        text-align: center;
    }
    .bar-social-block {
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
    }
    .bar-social {
        padding-right: 5%;
        font-size: 22px;
    }
    .feature-main-block {
        overflow: none;
    }
    .feature-container {
        padding-top: 80px;
    }
    .feature-block {
        float: none;
        margin-right: 0;
        display: flex;
    }
    .feature-items-block {
        display: flex;
        width: 100%;
    }
    .feature-item {
        width: 33%;
        padding: 10px 0;
        list-style-type: none;
    }
    .feature-item:last-child {
        margin-right: 0;
    }
    .feature-main-block .feature-image-block {
        float: none;
        width: auto;
    }
    .feature-image {
        display: none;
    }
    .feature-main-block .feature-main {
        float: none;
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-top: 20px;
    }
    .awesome-block {
        padding-top: 40px;
    }
    .awesome-block-items {
        padding-left: 0;
    }
    .pricing-block {
        display: block;
        padding-left: 0;
    }
    .pricing-main {
        width: 90%;
        padding-bottom: 50px;
        margin: auto;
    }
    .pricing-main:last-child {
        padding-bottom: 0;
    }
    .block-item {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    .block-item:last-child {
        margin-bottom: 0;
    }
    .block-items_comment {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 70px;
    }
    .block-items_comment:last-child {
        margin-bottom: 0;
    }
    .form-block {
        display: block;
    }
    .input-block {
        width: 100%;
        margin-right: 0;
    }
    .area-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .area {
        padding-left: 10px;
    }
    .social {
        margin-right: 14px;
    }
    .catalog {
        display: block;
        padding: 2rem 3rem 2rem;
    }
    .catalog-btn {
        top: 2rem;
    }
    .catalog-list {
        margin-top: 50px;
    }
    .wrapper-hamburger {
        display: block;
        cursor: pointer;
    }
    .wrapper-hamburger i {
        font-size: 30px;
        transition: all 0.5s ease;
        color: #fff;
    }
}